.promotion-content {
    margin: 0 0 20px;
    padding: 15px 20px;
}

.region-promotion-content #block-homepagebanner {
    float: left;
    width: 45%;
}

.region-promotion-content .vertical-tabs{
    display: none;
}

.region-promotion-content .webform-submission-quick-enquiry-for-admission-form{
    float: right;
    width: 50%;
}

/**
 * @file
 * Custom Styling.
 */


@media all and (min-width: 560px) {

}

@media all and (min-width: 560px) and (max-width: 850px) {

}
@media all and (min-width: 851px) {
    .site-footer__top .region:first-child {
        width: 46%;
    }
}

.site-footer {
    display: block;
}