.promotion-content {
    margin: 0 0 20px;
    padding: 15px 20px;
}

.region-promotion-content #block-homepagebanner {
    float: left;
    width: 45%;
}

.region-promotion-content .vertical-tabs{
    display: none;
}

.region-promotion-content .webform-submission-quick-enquiry-for-admission-form{
    float: right;
    width: 50%;
}

/**
 * @file
 * Custom Styling.
 */


@media all and (min-width: 560px) {

}

@media all and (min-width: 560px) and (max-width: 850px) {

}
@media all and (min-width: 851px) {
    .site-footer__top .region:first-child {
        width: 46%;
    }
}

.site-footer {
    display: block;
}

/*bkp css*/
h1, h2, h3, h4, h5, h6{ font-weight:bold;}
h1, .h1{ font-size:24px; line-height:1.2;}
h2, .h2{ font-size:21px; line-height:1.2;}
h3, .h3 { font-size:18px; line-height:1.2;}
h4, .h4 { font-size:16px; line-height:1.2;}
h5, .h5, h6, .h6 {font-size:16px; line-height:1.2;}
/*header*/
#header{ background-color: #fff;}
.region-header .site-branding{ float: none; margin: 0 auto; text-align: center;}
.site-branding__name a{ color:#333;}
.site-branding__text{ text-align:left;}
/*main navigations*/
div.sf-accordion-toggle.sf-style-white a{ display:block; background-color:#614017; border:none;}
div.sf-accordion-toggle.sf-style-white a.sf-expanded, ul.sf-menu.sf-style-white.sf-accordion li.sf-expanded{ background-color:#614017;}
ul.sf-menu.sf-accordion, ul.sf-menu.sf-accordion ul, ul.sf-menu.sf-accordion li{ border-bottom:1px solid #cfcfcf;}
ul.sf-menu.sf-accordion li:last-child{ border-bottom:none;}
ul.sf-menu.sf-style-white a, ul.sf-menu.sf-style-white a:visited, ul.sf-menu.sf-style-white span.nolink{ text-align:left; color:#333; padding:15px 1em; font-weight:600; border-radius:0; margin:0;}
ul.sf-menu.sf-accordion li ul li{ font-weight:500;}
ul.sf-menu.sf-accordion li ul li:last-child{ border-bottom:none;}
ul.menu a.is-active{ background-color:#ececec;}
ul.sf-menu.sf-accordion li:hover{background-color:#ececec;}

/*form*/
.webform-submission-quick-enquiry-for-admission-form input, .webform-submission-quick-enquiry-for-admission-form select,
.webform-submission-quick-enquiry-for-admission-form input[type="submit"],
input.form-text, input.form-tel, input.form-email, input.form-url, input.form-search, input.form-file, input.form-number, input.form-color, textarea.form-textarea, select.form-select, input[type="text"], input[type="number"], input[type="date"]{ width:100%;}
input[type="number"]{ width:98%;}
.webform-submission-quick-enquiry-for-admission-form input, .webform-submission-quick-enquiry-for-admission-form select, input.form-text, input.form-tel, input.form-email, input.form-url, input.form-search, input.form-file, input.form-number, input.form-color, textarea.form-textarea, select.form-select, input[type="text"], input[type="number"], input[type="date"]{ background-color:#f7f7f7; border-radius:3px; border:1px solid #CCCCCC;}
.webform-submission-quick-enquiry-for-admission-form input:focus, .webform-submission-quick-enquiry-for-admission-form select:focus,input.form-text, input.form-tel, input.form-email, input.form-url, input.form-search, input.form-file, input.form-number, input.form-color, textarea.form-textarea, select.form-select, input[type="text"], input[type="number"], input[type="date"]{ outline:none; box-shadow:inset 0 0 2px #ddd; background-color:#fff;}
.button, .webform-submission-quick-enquiry-for-admission-form input[type="submit"], .form-actions .button{ background-image:none; background-color:#614017; border:none; color:#fff; font-weight:600; font-size:16px; line-height:1.2; padding:10px 15px; border-radius:3px; }
.button:hover, .webform-submission-quick-enquiry-for-admission-form input[type="submit"]:hover, .form-actions .button:hover{ background-color:#563711;}
.round-image, #block-homepagebanner img, .image-style-medium{padding:3px; border:1px solid #e4e4e4; border-radius:3px;}

/*table*/
.views-view-table caption{ text-align: left; margin-bottom: 20px;}
.views-view-table caption a{ display:inline-block; border:none;}
#main-wrapper{ border-top:1px solid #ddd;}


/*** Table Styles **/

.views-element-container table {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin-bottom: 40px;
  padding:0px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
.views-element-container table:last-child{ margin-bottom:20px;}
.views-element-container table th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:13px;
  font-weight: 100;
  padding:10px 5px;
  text-align:center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}
.views-element-container table th:first-child { border-top-left-radius:3px; border-left:none;}
.views-element-container table th:last-child {border-top-right-radius:3px; border-right:none;}
.views-element-container table tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#333;
  font-size:12px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
.views-element-container table tr:first-child {border-top:none;}
.views-element-container table tr:last-child {border-bottom:none;}
.views-element-container table tr:nth-child(odd) td {background:#EBEBEB;}
.views-element-container table tr:last-child td:first-child {border-bottom-left-radius:3px;}
.views-element-container table tr:last-child td:last-child {border-bottom-right-radius:3px;}
.views-element-container table td {
  background:#FFFFFF;
  padding:10px 5px; 
  text-align:center;
  vertical-align:middle;
  font-weight:300;
  font-size:13px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}
.views-element-container table td:last-child {border-right: 0px;}
.view-footer{ font-size:16px; font-weight:bold; color:#1B1E24;}

/*OUR SERVICES list style*/
#main-wrapper .sidebar .block{ padding:0; margin:0; border:none; margin-top:20px;}
.field--type-text-with-summary ul, .field--type-text-with-summary ul li{ padding:0; margin:0; list-style:none;}
.field--type-text-with-summary ul li{border-bottom:1px solid #cfcfcf; padding:8px 0;}
.field--type-text-with-summary ul li:last-child{ border-bottom:none;}

.site-footer{ background-color:#1B1E24; padding:30px 0;}
.site-footer .block{ border:none; margin:0;}
.site-footer .content{ font-size:14px;}
.site-footer .field--type-text-with-summary ul li{border-color:#3d4045;}
.site-footer .content ol:not(.menu), .site-footer .content ul:not(.menu){ padding-left:0;}
.site-footer h2{ margin-top:0; padding-bottom:15px;}
.site-footer__top p{ margin-bottom:0;}
.site-footer__bottom{ margin-top:20px;}
.site-footer__bottom .content{ padding:0;}
.site-footer__bottom p{ margin:0;}
.limited-seat-available a, .limited-seat-available a:hover, .limited-seat-available a:active, .limited-seat-available a:visited{ color:#fff; text-decoration:none; border:none;}
/*contact us or admission page*/
#contact-message-feedback-form #edit-name, #contact-message-feedback-form #edit-mail{ width:100%;}
#contact-message-feedback-form textarea{ max-height:190px;}

/*university logo or title*/
.fee-structure-title{ display:table;}
.university-logo{display:table-cell;}
.university-name{display:table-cell; vertical-align:middle; padding-left:20px;}

@media all and (max-width:767px){
	/*home page container*/
	.region-promotion-content #block-homepagebanner{ float:none; width:100%;}
	.region-promotion-content .webform-submission-quick-enquiry-for-admission-form{ width:100%; float:none;}
	/*table*/
	#page-wrapper .promotion-content{ margin:0;}
	#page-wrapper  .promotion-content.layout-container{ padding:0;}
	#page-wrapper .form-item{ margin-top:0;}
}
@media all and (min-width:768px){
   h1, .h1{ font-size:30px; line-height:1.2;}
   h2, .h2{ font-size:26px; line-height:1.2;}
   h3, .h3{font-size:24px; line-height:1;}
   h4, .h4 { font-size:21px; line-height:1;}
   h5, .h5, h6, .h6{ font-size:18px; line-height:1.2;}
   .site-branding__logo{ padding-top:17px;}
   /*main menu or header*/
   .layout-container{ max-width:100%;}
   ul.sf-menu.sf-style-white{ float:none; text-align:center; background-color:#614017; border-top:1px solid #614017; border-bottom:1px solid #614017; margin:0;}
   ul.sf-menu li{ float:none; display:inline-block;}
   ul.sf-menu.sf-style-white li, ul.sf-menu.sf-style-white.sf-navbar, .region-primary-menu .menu a{ background:none;}
   .region-primary-menu .menu a{ color:#fff; text-shadow:none;}
   ul.sf-menu.sf-style-white a, ul.sf-menu.sf-style-white a:visited, ul.sf-menu.sf-style-white span.nolink{ color:#fff; padding:20px 30px;}
   ul.sf-menu.sf-style-white li:hover, ul.sf-menu.sf-style-white li:hover, ul.sf-menu.sf-style-white li.sfHover{background-color:#54350e;}
   ul.menu a.is-active{ background-color:#54350e; color:#fff;}
   
   ul.sf-menu.sf-style-white a:focus, ul.sf-menu.sf-style-white a:hover, ul.sf-menu.sf-style-white span.nolink:hover{background:none;}
   
	ul.sf-menu.sf-style-white li ul li{ background-color:#65451d;}
	ul.sf-menu.sf-style-white li ul{ box-shadow:none; margin-top:22px;}
	ul.sf-menu.sf-style-white li ul li:hover, ul.sf-menu.sf-style-white li.active-trail, ul.sf-menu.sf-style-white li ul li.active-trail{ background-color:#54350e;}
	ul.sf-menu.sf-style-white li ul li a{ color:#fff; padding:18px 30px;}
   
   #page-wrapper .promotion-content{ margin-bottom:0;}
   .webform-submission-quick-enquiry-for-admission-form input, .webform-submission-quick-enquiry-for-admission-form select, input.form-text, input.form-tel, input.form-email, input.form-url, input.form-search, input.form-file, input.form-number, input.form-color, textarea.form-textarea, select.form-select, input[type="text"], input[type="number"], input[type="date"]{ padding-top:8px; padding-bottom:8px;}
   .button, .webform-submission-quick-enquiry-for-admission-form input[type="submit"], .form-actions .button{ padding:14px 15px;}
   
   /*table design*/
   .views-element-container table th{ padding:20px 5px; font-size:14px;}
   .views-element-container table td{padding:18px 5px; font-size:14px;}
   .views-element-container table{ margin-bottom:50px;}
   
   /*footer section*/
   .site-footer__top h2{ font-size:21px;}

   /*admission-form form*/
   #webform-submission-apply-for-admission-form #edit-prefer-university-for-admission--wrapper{ width:100%;}
   #webform-submission-apply-for-admission-form .form-item-student-s-name,
   #webform-submission-apply-for-admission-form .form-item-email-address,
   #webform-submission-apply-for-admission-form .form-item-mobile-number,
   #webform-submission-apply-for-admission-form .form-item-student-s-dob,
   #webform-submission-apply-for-admission-form .form-item-marks-in-12th-percentage-,
   #webform-submission-apply-for-admission-form .form-item-do-you-have-passport-{ width:48%; float:left;}
   #webform-submission-apply-for-admission-form .form-item-student-s-name,
   #webform-submission-apply-for-admission-form .form-item-mobile-number,
   #webform-submission-apply-for-admission-form .form-item-marks-in-12th-percentage-{ margin-right:3%;}
   #webform-submission-apply-for-admission-form #edit-marks-in-12th-percentage-{ width:95%;}
   
   #webform-submission-apply-for-admission-form #edit-actions{ width:100%; overflow:hidden;}

   /*contact us form*/
   #contact-message-feedback-form .form-item-name,
   #contact-message-feedback-form .form-item-mail{width:48%; float:left;}
   #contact-message-feedback-form .form-item-mail{ float:right;}
   #contact-message-feedback-form .form-item-name{ margin-right:3%;}
   #contact-message-feedback-form #edit-subject-wrapper{ width:100%; clear:both;}
   
   
}